html {
	font-family: 'Montserrat';
}

body {
	background-color: black;
}


h1 {
	color: magenta;
	text-align: center;
	border: 5px dashed yellow;
	cursor: pointer;
	text-transform: uppercase;
	font-family: 'Montserrat';
}

h2 {
	color: magenta;
	text-align: center;
	font-family: 'Montserrat';
}

h3 {
	color: magenta;
	font-family: 'Montserrat';
}

li {
	color: magenta;
	font-family: 'Montserrat';
}

