body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(https://i.insider.com/5e4c641b69692c00533ecf1b) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	color: magenta;
	font size: 3rem; 
}

hr {
	border-color: yellow;
	border-width: 3px;
	max-width: 65px;
}

.buffer {
	height: 5rem;
}

.btn {
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}

.btn-primary {
	color: magenta;
	background-color: yellow;
	border-color: yellow;
}

.btn-primary:hover {
	background-color: magenta;
	color: yellow;
	border-color: magenta;
	border-width: 4px;
}

.btn-x1 {
	padding: 1rem 2rem;
}